<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
    </ion-buttons>
    <ion-title>
      Sign Up
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides #signupSlider pager="true" paginationType="fraction">

    <ion-slide>

      <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

      <ion-list no-lines>

        <form [formGroup]="slideOneForm">

          <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input #firstName (change)="elementChanged(firstName)" formControlName="firstName" type="text" [class.invalid]="!slideOneForm.get('firstName').valid && (firstNameChanged || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.get('firstName').valid  && (firstNameChanged || submitAttempt)">
            <p>Please enter a valid name.</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input #lastName (change)="elementChanged(lastName)" formControlName="lastName" type="text" [class.invalid]="!slideOneForm.get('lastName').valid && (lastNameChanged || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.get('lastName').valid  && (lastNameChanged || submitAttempt)">
            <p>Please enter a valid name.</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Age</ion-label>
            <ion-input #age (change)="elementChanged(age)" formControlName="age" type="number" [class.invalid]="!slideOneForm.get('age').valid && (ageChanged || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.get('age').valid  && (ageChanged || submitAttempt)">
            <p>Please enter a valid age.</p>
          </ion-item>

        </form>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <ion-list no-lines>

        <form [formGroup]="slideTwoForm">

          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input #username (change)="elementChanged(username)" [class.invalid]="!slideTwoForm.get('username').valid && (usernameChanged || submitAttempt)"
              formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="slideTwoForm.get('username').pending">
            <p>Checking username...</p>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.get('username').valid && !slideTwoForm.get('username').pending && (usernameChanged || submitAttempt)">
            <p>Sorry, that username can not be used!</p>
          </ion-item>

          <ion-item>
            <ion-label floating>Privacy</ion-label>
            <ion-select #privacy [class.invalid]="!slideTwoForm.get('privacy').valid && (privacyChanged || submitAttempt)" (change)="elementChanged(privacy)"
              formControlName="privacy">
              <ion-option value="public" checked="true">Public</ion-option>
              <ion-option value="friends">Friends Only</ion-option>
              <ion-option value="private">Private</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Bio</ion-label>
            <ion-textarea formControlName="bio"></ion-textarea>
          </ion-item>

        </form>

      </ion-list>

      <button ion-button color="primary" (click)="save()">Create Account!</button>

    </ion-slide>

  </ion-slides>
</ion-content>
