.weatherContent-PARTLY_CLOUDY_DAY {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/PARTLY_CLOUDY_DAY.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-CLEAR_DAY {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/CLEAR_DAY.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-PARTLY_CLOUDY_NIGHT {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/PARTLY_CLOUDY_NIGHT.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-CLEAR_NIGHT {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/CLEAR_NIGHT.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-RAIN {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/RAIN.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-SNOW {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/SNOW.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-SLEET {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/SLEET.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-WIND {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/WIND.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-FOG {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/FOG.jpg) no-repeat 0 0;
	background-size:cover;
}

.weatherContent-CLOUDY {
	background:linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.8) 100%), url(../assets/img/CLOUDY.jpg) no-repeat 0 0;
	background-size:cover;
}
