// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/add-review/add-review.scss";

ion-list, scroll-content {
    background-color: #74efc4;
}
